<a href="/" class="flex items-center gap-4 !no-underline">
  <!-- <Image src=={logo} alt="" width={64} height={64} /> -->
  <span class="font-bold text-3xl">GuildKit</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
